{% extends "cycles/base.html" %}

{% block title %}
  Your cycles
{% endblock %}

{% block body %}
<h1>Your cycles:</h1>

<table>
  <thead>
    <th>First day</th>
    <th>Last day</th>
    <th>Length</th>
    <th colspan=2>Details</th>
    <th colspan="2">Actions</th>
  </thead>
  {% for cycle, last_day, length in cycles_dates %}
    <tr>
      <td>{{ cycle.first_day|date:"Y-m-d" }}</td>
      <td>{{ last_day|date:"Y-m-d" }}</td>
      <td>{{ length }}</td>
      <td><a href="{% url 'cycles:about' pk=cycle.pk %}"">Fertility</a></td>
      <td><a href="{% url 'cycles:temperatures' pk=cycle.pk %}">Temperatures</a></td>
      <td><a href="{% url 'cycles:update_cycle' pk=cycle.pk %}"><button type="button" class="btn btn-primary btn-sm" name="button">Update</button></a></td>
      <td><a href="{% url 'cycles:confirm_delete' pk=cycle.pk %}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a></td>
    </tr>
  {% endfor %}
</table>
  



{% endblock %}
